<li class="relative flex gap-x-4">
  <div class="absolute top-0 -bottom-6 left-0 flex w-6 justify-center">
    <div class="w-px bg-gray-200"></div>
  </div>
  <div class="relative flex size-6 flex-none items-center justify-center bg-white">
    <div class="size-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
  </div>
  <p class="flex-auto py-0.5 text-xs/5 text-gray-500">
    <span class="font-medium text-gray-900">
      <%= status_change.user.name %>
    </span>
    change status to <%= status_change.status.to_s %>
  </p>
  <%= time_tag(status_change.created_at, class: "flex-none py-0.5 text-xs/5 text-gray-500") do %>
    <%= time_ago_in_words(status_change.created_at) %>
  <% end%>
</li>
